rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /UserInfo/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /UserInfo/{parent}/GSR_Sessions/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/GSR_Sessions/{document} {
      allow read: if true;
    }

  }
}
